appdirs==1.4.0
appnope==0.1.0
certifi==2017.1.23
cookies==2.2.1
decorator==4.0.11
Django==1.10.5
factory-boy==2.7.0
fake-factory==0.6.0
future==0.16.0
ipdb==0.10.1
ipython==5.1.0
ipython-genutils==0.1.0
packaging==16.8
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.5.3
python-telegram-bot==5.3.0
requests==2.11.1
responses==0.5.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
urllib3==1.20
wcwidth==0.1.7
